* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

input {
  padding: 0.5em;
}

.shadow {
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.48);
  -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.48);
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.48);
}
