body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#topbar {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

#topbar .searchbar {
  flex-grow: 1;
  margin: 5px 10px;
}

#username {
  margin-right: 5px;
}

#logoutBtn {
  align-self: stretch;
  margin: 5px;
}

#content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#content > * {
  padding: 5px;
}

#sidebar {
  padding: 10px;
  border-right: 1px solid gray;
}

#sidebar > h2 {
  margin-top: 0;
  margin-bottom: 1em;
}

#sidebar ul {
  padding: 0;
  margin: 0;
}

#sidebar li {
  list-style: none;
}

#main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  align-items: stretch;
}

/* == ITEM CARD == */
.itemCard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-top: 15px;

  transition: all ease-in 0.2s;

  cursor: pointer;
}

.itemCard > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemCard:hover {
  transform: translateX(5px);
}

.itemCard .invnum {
  font-style: italic;
}

.itemCard .invnum::before {
  content: '#';
}

.itemCard .category {
  
}

.itemCard .category::before {
  content: 'кат.: ';
  font-size: small;
  color: grey;
  font-style: italic;
}

.itemCard .displayName {
  font-size: 1.2rem;
}

.itemCard .holdingStatus::before {
  content: 'В наличии';
}

.itemCard.holderPresent .holdingStatus::before {
  content: 'Выдано: ';
}
